<ion-header>
  <ion-toolbar>
    <ion-title>
      Notify
    </ion-title>
    <ion-buttons slot="end">
      <div *ngIf="online$ | async; else offline"></div>
      <ng-template #offline>
        
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="d-lg-none">
    <div *ngFor="let e of getEvents()" class="col-12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            {{e.event.created | date:'short'}}
          </ion-card-subtitle>
          <ion-card-title>
            {{e.event.caller.firstName}} {{e.event.caller.lastName}}
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-icon name="alert" slot="start" color="danger"></ion-icon>
          <ion-button fill="outline" slot="end" (click)="details(e)">Details</ion-button>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <mat-list class="d-none d-lg-block">
    <div *ngFor="let e of getEvents()" class="list-items-mat">
      <mat-card>
        <mat-card-subtitle>
          {{e.event.created | date:'short'}}
        </mat-card-subtitle>
        <mat-card-content>
          {{e.event.caller.firstName}} {{e.event.caller.lastName}}
        </mat-card-content>
        <mat-card-actions>
          <ion-icon name="alert" slot="start" color="danger"></ion-icon>
          <button mat-button (click)="details(e)">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-list>
    
</ion-content>